@model BooksMVC.Models.Books.GetSingleBookResponseModel
<h3>Details for @Model.Title</h3>
<p>@Model.Author</p>

<div>
    <label asp-for="Title"></label>&nbsp; <span>@Model.Title</span>
</div>
<div>
    <label asp-for="Author"></label>&nbsp; <span>@Model.Author</span>
</div>
<div>
    <label asp-for="NumberOfPages"></label>&nbsp; <span>@Model.NumberOfPages</span>
</div>
<div>
    <label asp-for="InInventory"></label>&nbsp; <span>@Model.InInventory</span>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Books" asp-action="index">Back to list</a>
</div>